.infoDisplay {
  align-items: center;
  text-align: center;
  font-size: large;
}

.buttonContainer {
  text-align: center;
}

.buttonPress {
  font-weight: bold;
  background-color: peachpuff;
}

.infoLabel {
  background-color: #e0e0e0;
  padding: 2px 5px;
  border-radius: 4px;
}