.infoDisplay {
  align-items: center;
  text-align: center;
  font-size: large;
}

.buttonContainer {
  text-align: center;
}

.buttonPress {
  font-weight: bold;
  background-color: peachpuff;
}

.infoLabel {
  background-color: #e0e0e0;
  padding: 2px 5px;
  border-radius: 4px;
}

.infoLabel:hover{
  cursor: pointer;
  background-color: blueviolet;
}

.item {
  list-style: none;
  padding-left: 0;
  text-align: center; /* Center the list items horizontally */
}

.item li {
  display: inline-block; /* Display list items as inline-block for horizontal alignment */
  margin-right: 10px; /* Add some margin between list items */
}

.item li::before {
  content: "•"; 
  color: black;
  margin-right: 5px;
}
